body {
  margin-top: 15px;
  color: #888888;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header{
  background-color: #F6F6F7;
}

#add_cart_button{
  border: solid 2px;
  border-color: black;
  margin-top: 20px;
  width: 170px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

#add_cart_button:hover{
  background-color: black;
  color: white;
}
