body {
  margin-top: 15px;
  color: #888888;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header{
  background-color: #F6F6F7;
  width: 100%;
}

.CART{
  margin-left: 85%;
  font-size: small;
  text-align: center;
  width: 90px;
}

#CART_ICON{
  display: none;
}

#MAIN{
  display: flex;
  margin-top: 5%;
}

#RHS{
  width: 500px;
  margin-left: 10%;
}

#LHS{
  height: 600px;
  width: 400px;
  margin-left: 20%;
}

#BOX_CONTAINER{
  display: flex;
}

.box{
  border: solid 1px;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

#add_cart_button{
  border: solid 2px;
  border-color: black;
  margin-top: 20px;
  width: 170px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.2s;
  cursor: pointer;
}

#add_cart_button:hover{
  background-color: black;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .CART{
    margin-left: auto;
  }

  #CART{
    display: none;
  }

  #CART_ICON{
    display: inline-block;
    font-size: large;
    position: relative;
  }

  #RHS{
    margin: auto;
    margin-right: 0;
    width: auto;
    padding: 20px;
  }

  #TITLE{
    float: left;
  }

  #PRICE{
    text-align: left;
  }

  #DESCRIP{
    display: inline-block;
    text-align: left;
  }

  #SIZE{
    text-align: left;
  }

  #BOX_CONTAINER{
    margin-left: 0 !important;
  }

  #add_cart_button{
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 900px){
  .Header{
    width: 100%;
  }

  #MAIN{
    display: block;
    text-align: center;
  }

  #LHS{
    margin: 0;
    height: 400px;
    width: 300px;
    margin: auto;
    margin-bottom: 50px;
  }

  #RHS{
    margin: 0;
    margin:auto;
  }

  .divider{
    display: none;
  }

  #BOX_CONTAINER{
    text-align: center;
    margin-left: 180px;
  }

  .box{
    border: solid 1px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
  }

  #add_cart_button{
    margin-left: 165px;
  }
}

@media screen and (max-width: 1318px) and (min-width: 900px){
  #RHS{
    padding-right: 10%;
  }
}

